<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.amozon_app">

    <!-- إذن الإنترنت مطلوب لـ Facebook Login -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="amozon_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- يحدد الثيم عند بدء تشغيل التطبيق -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>

        <!-- تحديد Flutter Embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- بيانات تسجيل الدخول عبر Facebook -->
        <meta-data 
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        
        <meta-data 
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>

        <!-- Facebook Login Activity مع إضافة tools:replace -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|smallestScreenSize|orientation"
            tools:replace="android:configChanges"
            android:label="@string/app_name"/>

        <!-- تفعيل الإعدادات التلقائية لـ Facebook SDK -->
        <meta-data 
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true"/>
        
        <meta-data 
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true"/>
        
        <meta-data 
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true"/>

    </application>

    <!-- السماح للتطبيق بالوصول إلى عمليات معالجة النصوص -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>